/*********************************************************
*                         GLOBAL                         *
*********************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*********************************************************
*                           GLOBAL                       *
**********************************************************/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*********************************************************
*                    VARIABLES/MIXINS                    *
*********************************************************/
/*********************************************************
*                          FONTS                         *
**********************************************************/
/*********************************************************
*                          WIDTHS                        *
**********************************************************/
/*********************************************************
*                     DISPLAY MIXINS                     *
**********************************************************/
/*********************************************************
*                     IMAGE MIXINS                       *
**********************************************************/
/*********************************************************
*                    COMPONENT MIXINS                    *
**********************************************************/
/*********************************************************
*                       COMPONENTS                       *
*********************************************************/
/*********************************************************
*                         NAVIGATION                     *
**********************************************************/
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  position: fixed;
  width: 100%;
  height: 25px;
  padding: 2.5rem 0;
  font-family: 'Sorts Mill Goudy', serif;
  background: linear-gradient(180deg, #AC4D00 0%, #5f2b00 100%), #8A3E00;
}
.nav-container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-self: center;
  width: 1440px;
}
.nav-container nav .cta-logo {
  color: white;
  font-size: 2.2rem;
}
.nav-container nav a {
  align-self: center;
  padding-top: 3px;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}
/*********************************************************
*                     CALL-TO-ACTION                     *
**********************************************************/
.cta-container {
  background-image: linear-gradient(#000000, rgba(255, 255, 255, 0) 60%), url('../assets/cta.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* prevents horizontal bar when cta-image width overflows past viewport near 1000px */
}
.cta-container .cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 60px;
  margin-left: 50px;
}
.cta-container .cta .cta-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: radial-gradient(262.5px at 50% 50%, #000000 0%, #00000000 100%);
}
.cta-container .cta .cta-header-container .cta-header {
  border-bottom: 3px solid white;
  color: #e2e1e1;
  font-size: 7.5rem;
  font-family: 'Prata', serif;
  white-space: nowrap;
}
.cta-container .cta .cta-header-container .cta-slogan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 400px;
  margin-top: 30px;
  color: white;
  font-family: 'Old Standard TT', serif;
  font-size: 2.2rem;
}
.cta-container .cta .cta-header-container .try-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
  text-align: center;
}
.cta-container .cta .cta-header-container .try-button-container .try-button {
  display: inline-block;
  height: 50px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Caudex', serif;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  line-height: 45px;
  background-color: #25ac04;
}
.cta-container .cta .cta-image-container {
  align-self: center;
  height: 500px;
  background: radial-gradient(black 0%, transparent 70%);
  font-size: 3.8rem;
  color: white;
  text-align: center;
}
.cta-container .cta .cta-image-container .cta-image {
  width: 500px;
}
/* ************************************************
*                       ABOUT                     *
***************************************************/
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background: linear-gradient(180deg, #AC4D00 0%, #472200 70.83%);
}
.about p {
  display: inline-block;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2.4rem;
  text-align: center;
  line-height: 3rem;
}
.features-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('../assets/features.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1700px;
  padding: 0 3rem;
}
.features-container .feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 320px;
  padding: 0 3rem;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.75);
}
.features-container .feature .feature-about {
  width: 50%;
  padding: 5rem;
}
.features-container .feature .feature-about .feature-header {
  width: 100px;
  color: white;
  font-size: 2.8rem;
  font-family: 'Prata', serif;
  text-decoration: underline;
}
.features-container .feature .feature-about .feature-text {
  margin-top: 30px;
  color: white;
  font-size: 2rem;
  font-family: 'Old Standard TT', serif;
  line-height: 3rem;
}
.features-container .feature .demo-button-container {
  height: 260px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.75);
}
.features-container .feature .demo-button-container .demo-button {
  display: none;
  opacity: 0;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.678);
  background-color: #3FC275;
  color: white;
  font-family: 'Caudex', serif;
  font-size: 1.6rem;
}
.features-container .feature .demo-button-container .demo-button.right {
  margin-right: 150px;
}
.features-container .feature .demo-button-container .demo-button.left {
  margin-left: 150px;
}
.features-container .feature.collect {
  background: linear-gradient(113.88deg, #5D5731 14.66%, #C0B56C 83.68%);
}
.features-container .demo-button-container.collect {
  background-image: url('../assets/collect.jpg');
  background-position-y: 40%;
  background-position-x: 60%;
  background-repeat: no-repeat;
  background-size: 200%;
}
.features-container .feature.organize {
  background: linear-gradient(113.88deg, #C36744 14.66%, #82432B 83.68%);
}
.features-container .demo-button-container.organize {
  background-image: url('../assets/organize.png');
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: 180%;
}
.features-container .feature.research {
  background: linear-gradient(113.88deg, #9F6E0E 14.66%, #D0A758 83.68%);
}
.features-container .demo-button-container.research {
  background-image: url('../assets/research.jpg');
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.features-container .feature.grow {
  background: linear-gradient(113.88deg, #538765 14.66%, #2E4938 83.68%);
}
.features-container .demo-button-container.grow {
  background-image: url('../assets/grow.png');
  background-position-y: 80%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background: linear-gradient(180deg, #AC4D00 0%, #5f2b00 100%), #8A3E00;
}
footer p {
  color: white;
  font-family: 'Caudex', serif;
  font-size: 1.8rem;
}
