/*********************************************************
*                    VARIABLES/MIXINS                    *
*********************************************************/
/*********************************************************
*                          FONTS                         *
**********************************************************/
/*********************************************************
*                         VENDOR                         *
*********************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*********************************************************
*                                                        *
*********************************************************/
html {
  font-size: 62.5%;
}
header.cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(#000000, rgba(255, 255, 255, 0)), url('../assets/cta.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
header.cta .cta-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 28vh;
}
header.cta .cta-header-container .cta-header {
  width: fit-content;
  margin-right: 50px;
  font-size: 10rem;
  font-family: 'Prociono', serif;
  color: #e2e1e1;
  white-space: nowrap;
}
header.cta .cta-header-container .cta-header .cta-blurb {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0 40px;
  color: white;
  margin-top: 30px;
  font-size: 2.5rem;
  text-align: center;
}
header.cta .cta-header-container .cta-header .try-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  text-align: center;
}
header.cta .cta-header-container .cta-header .try-button {
  display: inline-block;
  height: 50px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  line-height: 50px;
  background-color: #3ec275;
}
header.cta .cta-header-container .cta-image {
  align-self: center;
  height: 500px;
  min-width: 400px;
  font-size: 3.8rem;
  color: white;
  text-align: center;
  background-image: url('../assets/tree.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header.cta .cta-header-container .cta-image ul {
  margin-top: 150px;
}
header.cta .cta-header-container .cta-image ul li {
  padding: 1.5rem;
}
.test-div {
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 2.8rem;
  margin-top: 30px;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  position: fixed;
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  padding: 1.5rem 0;
  background-color: #8a3e00;
}
.nav-container .cta-logo {
  font-size: 2.8rem;
  color: white;
}
.nav-container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-self: center;
  width: 60%;
  font-size: 1.8rem;
}
.nav-container nav a {
  color: white;
  text-decoration: none;
}
