/* ************************************************
*                       ABOUT                     *
***************************************************/ 

.about {
    .display-flex(@align: center);
    height: 200px;
    width: 100%;

    background: linear-gradient(180deg, #AC4D00 0%, #472200 70.83%);

    p {
        display: inline-block;
        
        color: white;
        font-family: @about-font;
        font-size: 2.4rem;

        text-align: center;
        line-height: 3.0rem;
    }
}