/*********************************************************
*                     CALL-TO-ACTION                     *
**********************************************************/
.cta-container {
    .parralax-background-gradient('../assets/cta.png');
    .display-flex(@align: center);
    width: 100%;
    height: 100vh;

    .cta {
        .display-flex();
    
        margin-top: 60px;
        margin-left: 65px;

        .cta-header-container {
            .display-flex(@direction: column; @justify: center; @align: center);
            
            height: 500px;
    
            background: @cta-header-gradient;

            .cta-header {
                border-bottom: 3px solid white;
    
                color: @text-color;
                font-size: 7.5rem;
                font-family: @header-font;
    
                white-space: nowrap;
            }

            .cta-slogan {
                .display-flex(@justify: space-between);
                
                width: 400px;
                margin-top: 30px;
    
                color: @text-color;
                font-family: @blurb-font;
                font-size: 2.2rem;
            }
    
            .try-button-container { 
                .display-flex(@align: flex-end);
                
                height: 80px;
                text-align: center;
                
                .try-button { 
                    .try-button-styles();
                }
            }
        }
    
        .cta-image-container {
            align-self: center;
            height: 500px;
            
            background: @cta-image-gradient;
    
            font-size: 3.8rem;
            color: @text-color;
            text-align: center;

            margin-left: 50px;
    
            .cta-image {
                width: 400px;
            }
        }

        @media @tablet {
            .cta-content-tablet();
        }

        @media @tablet-mid-size {
            .cta-content-tablet-mid-size();
        }

        @media @mobile {
            .cta-content-mobile();
        }
    } 
}

/*********************************************************
*                    TABLET MEDIA QUERIES                *
**********************************************************/
.cta-content-tablet() {

    margin-left: 10px;

    .cta-header-container {

        background: @cta-header-gradient-tablet;

        .cta-header {
            font-size: 6.0rem;

            .text-shadow-strong() 
        }

        .cta-slogan {
            font-size: 1.8rem;
            width: 330px;

            .text-shadow-strong() 
        }

        .try-button-container {
            .try-button {
                height: 40px;
                width: 170px;

                font-size: 1.6rem;
                line-height: 40px;
            }
        }
    }

    .cta-image-container {
        height: 450px;

        .cta-image {
            width: 350px;
        }
    }
}

/*********************************************************
*               MID-SIZE TABLET MEDIA QUERIES            *
**********************************************************/
.cta-content-tablet-mid-size() {
    margin-left: 0;

    .cta-header-container {
        z-index: 1;
        background: @cta-header-gradient-mid-size-tablet;

        height: 800px;

        .cta-header {
            margin-top: -50px;
        }

        .try-button-container {
            margin-top: 20px;

            .try-button {
                height: 50px;
                width: 250px;

                font-size: 1.8rem;
                line-height: 49px;
            }
        }
    }

    .cta-image-container {
        .display-flex(@align: center);
        position: absolute;
        
        .cta-image {
            margin-left: -110px;
            width: 480px;
        }
    }
}

/*********************************************************
*                     MOBILE MEDIA QUERIES               *
**********************************************************/
.cta-content-mobile() {
    .cta-header-container {
        .cta-header {
            font-size: 5.0rem;
        }

        .cta-slogan {
            margin-top: 15px;
            font-size: 1.6rem;
            width: 270px;
        }
    }

    .cta-image-container {
        height: 400px;

        .cta-image {
            width: 90vw;
        }
    }
}