header.cta {
    .display-flex(@direction: column; @justify: flex-start; @align: center);
    .parralax-background('../assets/cta.jpg');

    width: 100%;
    height: 100vh;

    .cta-header-container {
        .display-flex(@justify: center);
        width: 60%;
        
        margin-top: 40vh;

        .cta-header {
            width: fit-content;
            margin-right: 20px;
            
            font-size: 10rem;
            font-family: @header-font;
            color: white;

            white-space: nowrap;
        }

        .cta-blurb {
            align-self: center;
            font-size: 1.8rem;
            color: white;
        }
    }
}

.test-div {
    width: 100%;
    height: 300px;
}