.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/cta.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 10rem;
        font-family: @header-font;
        color: white;
    }
}

.test-div {
    width: 100%;
    height: 300px;
}