.nav-container {
    .display-flex(@direction: row, @justify: space-evenly);
    width: 100%;
    padding: 4rem 0;
    
    .cta-logo {
        font-size: 2.8rem;
        color: white;
    }

    nav {
        .display-flex(@direction: row, @justify: space-around);
        width: 60%;
        font-size: 2.2rem;
        
        a {
            color: white;
            text-decoration: none;
        }
    }
    
}














