.nav-container {
    .display-flex(@direction: row, @justify: space-around);
    position: fixed;

    font-family: @nav-font;

    width: 100%;
    padding: 1.5rem 0;

    background-color: #8a3e00;
    
    .cta-logo {
        font-size: 2.8rem;
        color: white;
    }

    nav {
        .display-flex(@direction: row, @justify: space-around);
        align-self: center;
        
        width: 60%;
        font-size: 1.8rem;
        
        a {
            color: white;
            text-decoration: none;
        }
    }
    
}














